<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWta8PM5Q1znNLppnS0Ac4dYLb9wHhkhA</string>
	<key>GCM_SENDER_ID</key>
	<string>874415662622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medipolapp</string>
	<key>PROJECT_ID</key>
	<string>medipolapp-e3b4f</string>
	<key>STORAGE_BUCKET</key>
	<string>medipolapp-e3b4f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874415662622:ios:fbe620970b6f9007a0f00f</string>
</dict>
</plist>